.box {
  float: left;
  width: 100%;
  min-height: 16px;
  display: inline-block;
  margin: 1px;
  padding: 4px;
  text-align: center;
  color: #fff;
  background-color: #777;
  font-family: verdana;
  font-size: 9pt;
  cursor: hand;
  text-decoration: none;
  border: 0;
}

.box:hover {
  background-color: #aaa;
}

.pointer {
  cursor: pointer;
}

.normal {
  cursor: auto;
}

.icon {
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.icon-carts {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUFFwYU9tN6wAAAAHhJREFUSMdjYBgFAw0YiVX4n8H3P6rGzUTpZaK1D4a+BTjD8f9iBpQwZ/B7garg9iFUg0zCGEfjgLI4+P9fHTXMPx0kzaS2A6gGd0YwjsYBhWXR8zCUOPnPNQlFuqV1Cwq/titlNB/QuD7QXPsfJU6uBzOO1gfUAQA9rhskLCTOQgAAAABJRU5ErkJggg==");
}

.icon-controls {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUCFwIddrQ/2QAAAGNJREFUSMdjYBgFo2DQA0YGBgaG/x9f/KeJ4fwSjIy0MhwGmGgdRDS3gAVX2MHYlAbh0A8ieCpCDhZcgJzgGphIJjdTYfMpCzZBaqYiFmq6lqZBhMsiFmqlFoLJdOhmNFrXBwDXfTM0+VMQzwAAAABJRU5ErkJggg==");
}

.icon-fullscreen {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUFFwMh3RdKpgAAAGFJREFUSMdjYBgFAw0Y/3988Z+WFjDR2gcscK/wSzBS02BYyNDPB+g2Y0QWmT6kvw+o5fKB9wHM5bA4GTpxgO5SXC5H9xkunw58KiI2jgZvPiBU1gz+nExpDqe5D4Z+jQYAdBAkidhM6esAAAAASUVORK5CYII=");
}

.icon-pause {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUFFwIjKgIaywAAADFJREFUSMdjYBgFAw0Y0QX+f3zxH6tCfglGctQx0doHoxaMWjBqwagFoxaMWjA8LAAACHwIKAssz/oAAAAASUVORK5CYII=");
}

.icon-reset {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUFFwUnYi5IFQAAAGZJREFUSMdjYBgFAw0YiVX4/+OL/yga+SWI0stEax8MQwv+f3zxHz28iY0jbPpo7gMWXKmEXAAzB5bKRlMR8XFAMMsTmXNHczL14gA9PRNbytLdB4ykuojU1EZ/H5DrE1xxRXMfAAAKCStfOmCwDQAAAABJRU5ErkJggg==");
}

.icon-sound {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4wUFFwg6tIZagQAAAFVJREFUSMdjYBgFAw0YqWXQ/48v/qMYzC/ByMDAwMBEax+wUMvlMBej+2Tw+gDd5bjA4PEBrlRCCNDcB6MWjFpAx3yAnu6HXk7G5SNCPqG5D4Z+jQYAn/sgWl7dPFcAAAAASUVORK5CYII=");
}
