body {
  padding: 0px;
}

#menu_buttons {
  color: #ccc;
  display: inline-block;
  margin-left: 12.5px;
}

#dummy4itchapp {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

#p8_widget {
  max-width: 800px;
  max-height: 800px;
}

#p8_start_button {
  max-width: 768px;
  max-height: 768px;
  display: flex;
}

#p8_start_button img {
  margin: auto;
}

#p8_playarea {
  display: none;
}

#touch_controls_background {
  pointer-events: none;
  display: none;
  background-color: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.touch_controls_top {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0px;
}

#touch_controls_center {
  display: flex;
  position: relative;
}

#touch_controls_gfx {
  pointer-events: none;
  display: table;
  position: fixed;
  top: 0px;
  left: 0px;
  border: 0;
  width: 100vw;
  height: 100vh;
}

.controls {
  position: absolute;
  opacity: 0.5;
}

.right {
  float: right !important;
  margin: 0 10px 0 0;
}

.left {
  float: left !important;
  margin: 0 0 0 10px;
}

.p8_menu_button {
  opacity: 0.3;
  padding: 4px;
  display: table;
  width: 24px;
  height: 24px;
}

.p8_menu_button:hover {
  opacity: 1;
  cursor: pointer;
}

canvas {
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
  border: 0px;
  cursor: none;
}

.p8_start_button {
  cursor: pointer;
  background: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

.button_gfx {
  stroke-width: 2;
  stroke: #ffffff;
  stroke-opacity: 0.4;
  fill-opacity: 0.2;
  fill: #000;
}

.button_gfx_icon {
  stroke-width: 3;
  stroke: #909090;
  stroke-opacity: 0.7;
  fill: none;
}

.old_buttons {
  float: left;
  width: 100%;
  min-height: 16px;
  display: inline-block;
  margin: 1px;
  padding: 4px;
  text-align: center;
  color: #fff;
  background-color: #777;
  font-family: verdana;
  font-size: 9pt;
  cursor: pointer;
  cursor: hand;
  text-decoration: none;
}

.old_buttons a {
  color:#fff;
}

.old_buttons:link,
.old_buttons:hover {
  background-color: #aaa;
}

.game {
  outline: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}
